.Login{
    display: 40px;
    align-items: center;
    justify-content: center;
    height: 320px;
    padding: 40px;
}

.App{

    align-items: center;
    justify-content: center;
    width: 40%;
     
}
.button{ margin: 13px 12px 12px 10px;

    
} 

button{ margin: 13px; } 
